[submodule "st"]
	path = st
	url = https://github.com/wjh/st
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
